@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-action: rgb(0, 121, 191);
  --color-accent: rgb(75, 153, 230);
  --color-section: rgb(214, 234, 248);
  --color-bg: rgb(247, 249, 252);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.leaflet-container{
  height:100%;
}

.pointer{
  cursor: pointer !important;
}

.crosshair{
  cursor: crosshair !important;
}

.hover-zoom{
  @apply hover:scale-110 transition duration-150
}


.color-action{
  color:var(--color-action);
}

.color-accent{
  color:var(--color-accent);
}

.color-section{
  color:var(--color-section);
}

.color-background{
  color:var(--color-bg);
}

.bg-action{
  background-color:var(--color-action);
}

.bg-accent{
  background-color:var(--color-accent);
}

.bg-section{
  background-color:var(--color-section);
}

.bg-background{
  background-color:var(--color-bg);
}